# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# ChromaDB
database/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Build
dist/
frontend/dist/

# Logs
*.log

uploads/
node_modules/
frontend/node_modules/